<% if flash[:success] %>
<div class="alert alert-success">
  <button class="close" data-dismiss="alert">×</button>
  <h4 class="alert-heading">Success!</h4>
  <p>
    <%= flash[:success] %>
  </p>
</div>
<% end %>
<% if flash[:error] %>
<div class="alert alert-error">
  <button class="close" data-dismiss="alert">×</button>
  <h4 class="alert-heading">Error!</h4>
  <p>
    <%= flash[:error] %>
  </p>
</div>
<% end %>
